.container {
  display: flex;
  flex-direction: column;
}

.title {
  line-height: normal;
}

.title > a {
  font-weight: 600;
  color: hsl(var(--primary));
  text-decoration: none;
}

.title > a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.description {
  margin-top: 0.75rem;
  line-height: normal;
  color: hsl(var(--muted-foreground));
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.time {
  font-size: var(--text-sm);
  line-height: normal;
  color: hsl(var(--muted-foreground));
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}