.nav {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  font-size: var(--text-sm);
  line-height: 1.25rem;
  color: hsl(var(--muted-foreground));
  text-decoration: none;
  border: 1px solid hsl(var(--border));
}

.nav:hover {
  color: hsl(var(--primary));
  border-color: hsl(var(--primary) / 20%);
}
