.container {
  width: 100%;
  max-width: 48rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 0;
  font-size: var(--text-sm);
  color: hsl(var(--muted));
}