.header {
  padding-bottom: 1rem;

  /* text-align:center; */
}

.content {
  display: grid;
  gap: 2.5rem;
  padding: 2rem 0;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1.5rem auto 0;
}

@media screen and (768px <= width) {
  .nav {
    flex-direction: row;
  }
}