.header {
  padding-bottom: 1.5rem;
  text-align:center;
}

.title {
  display: inline-block;
}

.time {
  display: block;
  margin-top: 1.5rem;
  font-size: var(--text-sm);
  line-height: 1.25rem;
  color: hsl(var(--muted-foreground));
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.prose {
  padding: 2rem 0;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1.5rem auto 0;
}

@media screen and (768px <= width) {
  .nav {
    flex-direction: row;
  }
}