.header {
  width: 100%;
  max-width: 48rem;
  padding : 0 2rem;
  margin: 0 auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 1.5rem 0;
}

.content {
  display: flex;
  gap: 2.5rem;
  text-transform: capitalize;
}

.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.25rem;
  color: hsl(var(--primary));
  text-decoration: none;
}

.title {
  display: inline-flex;
  align-items: center;
  height: 100%;
  margin-left: 0.5rem;
  font-weight: 700;
}

.menu {
  display: flex;
  gap: 1.5rem;
}

.nav-menu {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.25rem;
  color: hsl(var(--foreground) / 60%);
  text-decoration: inherit;
}

.toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0.5rem;
  color: hsl(var(--foreground));
  cursor: pointer;
  background-color: transparent;
  border-radius: calc(var(--radius) - 2px);
  transition: 0.15s ease-in-out;
}

.toggle:hover {
  color: hsl(var(--accent-foreground));
  background-color: hsl(var(--accent));

}